.table-title{
    font-size: 28px;
    line-height: 36px;
    padding: 22px 16px 16px;
}

.search{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    background-color: #f9f9f9;
    color: #49454F;
    border-color: #f9f9f9 !important;
    width: 200px;
    margin-left: 16px;
}

.new-bid-btn{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: 500;
    height: 40px;
}

tr.element-row:hover {
    background: whitesmoke;
}

.warning {
    margin-left: 6px;
    color: #c30010;
}

.clickable {
    cursor: pointer;
}