.chat-window{
    background-color: #f9f9f9;
    width: 375px;
    height: 100vh;
}
.message {
    align-items: right;
    background-color: #0070AD;
    color: #ffffff;
    width: fit-content;
    border-radius: 12px 12px 0px 12px;
    padding: 8px;
    margin-bottom: 12px;
}

.flex-fill{
    overflow:auto;
}

.message-wrapper{
    padding: 0px 10px;
    margin: 0px 6px;
    scroll-behavior: smooth;
}

.response {
    background-color: #ffffff;
    width: fit-content;
    border-radius: 12px 12px 12px 0px;
    padding: 8px;
    margin-bottom: 12px;
}

.title{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #49454F;
    font-weight: 500;
    margin: 12px 0px 0px;
    padding: 24px 16px 0px;
}

.text-input{
    border-radius: 8px;
    border-style: solid;
    border-color: #8e8e8e;
    border-width: 1px;
}